<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
                <binding name="CalculatorSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53026/Calculator.asmx" binding="basicHttpBinding"
                bindingConfiguration="CalculatorSoap" contract="ServiceReference1.CalculatorSoap"
                name="CalculatorSoap" />
            <endpoint address="http://localhost:53026/Calculator.asmx" binding="basicHttpBinding"
                bindingConfiguration="CalculatorSoap1" contract="CalculatorReference.CalculatorSoap"
                name="CalculatorSoap1" />
        </client>
    </system.serviceModel>
</configuration>